<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="icon" type="image/x-icon" href="img/suitcase.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="contenedor">
        {{>header}}
        <div class="contenido">
            <nav id="navbar">
                <div class="imagen">
                    <img src="http://drive.google.com/uc?export=view&id=1XtuuXWtznzyka6iU7LhmV1Tw1YLFylHq" alt="Anthony">
                </div>
                <div class="navbar-nav">
                    <div id="perfil" class="nav-item">
                        <a class="nav-link" href="#perfil">Perfil personal</a>
                    </div>
                    <div id="experiencia" class="nav-item">
                        <a class="nav-link" href="#experiencia">Experiencia laboral</a>
                    </div>
                    <div id="educacion" class="nav-item">
                        <a class="nav-link" href="#educacion">Educación</a>
                    </div>
                    <div id="tecnologias" class="nav-item">
                        <a class="nav-link" href="#tecnologias">Tecnologías</a>
                    </div>
                    <div id="contacto" class="nav-item">
                        <a class="nav-link" href="#contacto">Datos de contacto</a>
                    </div>
                    <div id="idiomas" class="nav-item">
                        <a class="nav-link" href="#idiomas">Idiomas</a>
                    </div>
                    <div id="referencias" class="nav-item">
                        <a class="nav-link" href="#referencias">Referencias</a>
                    </div>
                    <div id="archivo" class="nav-item">
                        <a class="nav-link" href="#archivo">Archivo</a>
                    </div>
                </div>
            </nav>
            <div class="secciones">
                <div id="perfil" class="seccion">
                    <div class="title">
                        <h2>Perfil personal</h2>
                    </div>
                    <div class="seccion-contenido">
                        <p> 
                            Soy un joven Licenciado en Informática con conocimientos en el
                            desarrollo web, móvil y de escritorio. Capaz de crear aplicaciones
                            intuitivas y trabajar en soluciones tecnológicas automatizadas,
                            integrables, distribuidas y continuas. Mi preocupación constante
                            por potenciar la asertividad y comunicación permite que me
                            incorpore de manera colaborativa y efectiva en el desarrollo de
                            proyectos ágiles.
                        </p>
                    </div>
                </div>
                <div id="experiencia" class="seccion">
                    <div class="title">
                        <h2>Experiencia laboral</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <h4>
                                Pasante Full Stack Developer - Talendig (Agosto 2022 - presente)
                            </h4>
                            <p class="text">
                                Desarrollo de aplicaciones web, tanto para backend como frontend
                            </p>
                        </div>
                        <div>
                            <h4>
                                Soporte técnico - RELME 35 República
                                Dominicana (UASD) (2022) 3 meses
                            </h4>
                            <p class="text">
                                - Manejar datos en tablas de Excel, creación y envío de cartas y
                                certificados, realización de diseños, etc.
                                <br/>
                                - Automatización de tareas mediante implementaciones en
                                JavaScript y NodeJs.
                            </p>
                        </div>
                        <div>
                            <h4>
                                Summer Work And Travel - Estados Unidos
                            </h4>
                            <div class="text">
                                <p class="bold">
                                    Provincetown, Massachusetts (2021) 3 meses
                                </p>
                                <div class="text">
                                    <ul>
                                        <li><p>Grocery Clerk - Stop and Shop Supermarket</p></li>
                                        <li><p>Busser - Mac’s Fish House Provincetown</p></li>
                                    </ul>
                                </div>

                                <p class="bold">
                                    Williamsburg, Virginia (2019) 3 meses
                                </p>

                                <div class="text">
                                    <ul>
                                        <li><p>Housekeeper - Mastercorp in The Colonies</p></li>
                                        <li><p>Busser - Captain George’s Seafood</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="educacion" class="seccion">
                    <div class="title">
                        <h2>Educación</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="talendig" src="http://drive.google.com/uc?export=view&id=1byJjUnFbF3TKQR6eGIEym9PTq0szxklg" alt="Talendig">
                                <h4>
                                    Talendig
                                </h4>
                            </div>
                            <div class="text">
                                <p>BootCamp en desarrollo web con MERN (Junio 2022 - Agosto 2022)</p>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="uasd" src="http://drive.google.com/uc?export=view&id=1yVR0EkiDMIbl8P82hPPTVvfOYVhqJH2M" alt="Universidad Autónoma de Santo Domingo">
                                <h4>
                                    Universidad Autónoma de Santo Domingo (UASD)
                                </h4>
                            </div>
                            <div class="text">
                                <ul>
                                    <li><p>Licenciatura en Informática (2016 - 2022)</p></li>
                                    <li>
                                        <p>
                                            Curso Programación WEB con ASP.Net Core y
                                            Desarrollo de APIs y Web Services (2021)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="unicda" src="http://drive.google.com/uc?export=view&id=1T_9EoDwfFdP9clGpwHPR3JWf5st3oOq8" alt="Instituto Cultural Dominico-Americano">
                                <h4>
                                    Instituto Cultural Dominicano-Americano (ICDA)
                                </h4>
                            </div>
                            <div class="text">
                                <p>Programa Ingles por Inmersión (2018)</p>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="infotep" src="http://drive.google.com/uc?export=view&id=1hh0HRuIKIopWCr7WVbuvsQ-ZhshcdqIK" alt="Instituto de Formación Técnico Profesional">
                                <h4>
                                    Instituto de Formación Técnico Profesional (INFOTEP)
                                </h4>
                            </div>  
                            <div class="text">
                                <ul>
                                    <li><p>Diseño de páginas web (2017)</p></li>
                                    <li><p>Programación PHP (2017)</p></li>
                                    <li><p>Diseño de base de datos (2016)</p></li>
                                    <li><p>Programación Visual Basic.Net (2016)</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tecnologias" class="seccion">
                    <div class="title">
                        <h2>Tecnologías</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div class="mini-seccion">
                            <h4>Frameworks</h4>
                            <div class="lista">
                                <div class="items frameworks">
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1MXKKutc8BfHkyC51iIqibF7ybPy2Ooc6">
                                        <p>Angular</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1SSjD7Cf0iyM7k7QnQxNGmnE44JIzUOf5">
                                        <p>ASP.Net</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1OP5f-46NTy76WEGgX3qJeRdZSNtp82hI">
                                        <p>Ionic</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1RWAOn3OvCX8-g648aKEZtIp5iU_bQOwr">
                                        <p>Laravel</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1FqSS0UH6mfg7FG1VRRJBB4cM4gVXnVRh">
                                        <p>Bootstrap</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Lenguajes</h4>
                            <div class="lista">
                                <div class="items lenguajes">
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1fSqPBWg0L6ubtLXnNgpdVIETeQu4q-R3">
                                        <p>TypeScript</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1QQQntOyo-doMA3nRnZauHEKiPimcuT6U">
                                        <p>JavaScript</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=19uPi6diKz6zSbz8nQl75z9fh-yjbzK7E">
                                        <p>C#</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1ks3beAoDn82mL8hiRekchqIFnLiyIKNU">
                                        <p>C++</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1_PTFFQT0upUZiRzMO5eq8H_wp0ga1H8E">
                                        <p>Java</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=19a6mEzrml6kSPdAtMPwCB5A3GXXjGP2H">
                                        <p>PHP</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1DUssGd-NjHKG7Zp6aPL8QenCNNuUNIKQ">
                                        <p>VB.Net</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Manejadores de base de datos</h4>
                            <div class="lista">
                                <div class="items bd">
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=161B6piVnDFP1750PzUQNFFIUelLBg8m7">
                                        <p>Oracle</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1PwxYphrcIZ-zq4LSRZJZGKInzDNBaIgs">
                                        <p>MySQL</p>
                                    </div>
                                    <div class="elemento sql-server">
                                        <img src="http://drive.google.com/uc?export=view&id=192EDI3E3gwoA5OARcGBrJxUAS_iGJK9s">
                                        <p>SQL Server</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1a_cqg0jSPx_pkmxUiWa9nSA6mvNTz0mR">
                                        <p>Firebase</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1N2fGizEukY6uOwFkFyb2J_mAY1TC1urs">
                                        <p>MongoDB</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Otros</h4>
                            <div class="lista">
                                <div class="items otros">
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1ilPTr4pNlMPpQ4H1PVu9eM3G72lXwSvL">
                                        <p>Nodejs</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1GWRzSfE4_eyhYNLGSVCvnph2Vas4yyMj">
                                        <p>HTML</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="http://drive.google.com/uc?export=view&id=1dn8LuU6pWOWthZgISokxARJeDP3NjREd">
                                        <p>CSS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contacto" class="seccion">
                    <div class="title">
                        <h2>Datos de contacto</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Celular: </p>
                            <a href="tel:8298195019">8298195019</a>
                        </div>
                        <div>
                            <p class="bold">Correo electronico:</p>
                            <a href="mailTo:anthonyde98@gmail.com">anthonyde98@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div id="idiomas" class="seccion">
                    <div class="title">
                        <h2>Idiomas</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Español</p>
                            <p>Nativo</p>
                        </div>
                        <div>
                            <p class="bold">Ingles</p>
                            <p>Intermedio</p>
                        </div>
                    </div>
                </div>
                <div id="referencias" class="seccion">
                    <div class="title">
                        <h2>Referencias</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Josué Serulle Cabreja</p>
                            <p>849-851-5067</p>
                        </div>
                        <div>
                            <p class="bold">Lic. Antony Peralta</p>
                            <p>809-390-6181</p>
                        </div>
                    </div>
                </div>
                <div id="archivo" class="seccion">
                    <div class="title">
                        <h2>Archivo</h2>
                    </div>
                    <div class="seccion-contenido">
                        <a href="/download" id="btnCV">Descargar CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>btnTop}}
    <script src="js/partials.js"></script>
</body>
</html>