<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="icon" type="image/x-icon" href="img/suitcase.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="contenedor">
        {{>header}}
        <div class="contenido">
            <nav id="navbar">
                <div class="imagen">
                    <img src="img/anthony.jpg" alt="Anthony">
                </div>
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link" href="#perfil">Perfil personal</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#experiencia">Experiencia laboral</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#educacion">Educación</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#tecnologias">Tecnologías</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#contacto">Datos de contacto</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#idiomas">Idiomas</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#referencias">Referencias</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#archivo">Archivo</a>
                    </div>
                </div>
            </nav>
            <div class="secciones">
                <div id="perfil" class="seccion">
                    <div class="title">
                        <h2>Perfil personal</h2>
                    </div>
                    <div class="seccion-contenido">
                        <p> 
                            Soy un joven estudiante de informática (casi licenciado) con
                            conocimientos en el desarrollo web, móvil y de
                            escritorio. Capaz de crear aplicaciones intuitivas
                            y trabajar en varias tecnologías y frameworks.
                            Dispuesto a trabajar en proyectos pequeños, así
                            como también en proyectos grandes en un
                            entorno de trabajo en equipo.
                        </p>
                    </div>
                </div>
                <div id="experiencia" class="seccion">
                    <div class="title">
                        <h2>Experiencia laboral</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <h4>
                                Soporte técnico - RELME 35 República
                                Dominicana (UASD) (2022) 3 meses
                            </h4>
                            <p class="text">
                                Tareas: manejar datos en tablas de Excel, creación y
                                envío de cartas y certificados, realización de diseños, etc.
                            </p>
                        </div>
                        <div>
                            <h4>
                                Summer Work And Travel - Estados Unidos
                            </h4>
                            <div class="text">
                                <p class="bold">
                                    Provincetown, Massachusetts (2021) 3 meses
                                </p>
                                <div class="text">
                                    <ul>
                                        <li><p>Grocery Clerk - Stop and Shop Supermarket</p></li>
                                        <li><p>Busser - Mac’s Fish House Provincetown</p></li>
                                    </ul>
                                </div>

                                <p class="bold">
                                    Williamsburg, Virginia (2019) 3 meses
                                </p>

                                <div class="text">
                                    <ul>
                                        <li><p>Housekeeper - Mastercorp in The Colonies</p></li>
                                        <li><p>Busser - Captain George’s Seafood</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="educacion" class="seccion">
                    <div class="title">
                        <h2>Educación</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="uasd" src="img/uasd.png" alt="Universidad Autónoma de Santo Domingo">
                                <h4>
                                    Universidad Autónoma de Santo Domingo (UASD)
                                </h4>
                            </div>
                            <div class="text">
                                <ul>
                                    <li><p>Licenciatura en Informática (2016 - 2022)</p></li>
                                    <li>
                                        <p>
                                            Curso Programación WEB con ASP.Net Core y
                                            Desarrollo de APIs y Web Services (2021)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="unicda" src="img/unicda.png" alt="Instituto Cultural Dominico-Americano">
                                <h4>
                                    Instituto Cultural Dominicano-Americano (ICDA)
                                </h4>
                            </div>
                            <div class="text">
                                <p>Programa Ingles por Inmersión (2018)</p>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <div class="mini-title">
                                <img class="infotep" src="img/infotep.png" alt="Instituto de Formación Técnico Profesional">
                                <h4>
                                    Instituto de Formación Técnico Profesional (INFOTEP)
                                </h4>
                            </div>  
                            <div class="text">
                                <ul>
                                    <li><p>Diseño de páginas web (2017)</p></li>
                                    <li><p>Programación PHP (2017)</p></li>
                                    <li><p>Diseño de base de datos (2016)</p></li>
                                    <li><p>Programación Visual Basic.Net (2016)</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tecnologias" class="seccion">
                    <div class="title">
                        <h2>Tecnologías</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div class="mini-seccion">
                            <h4>Frameworks</h4>
                            <div class="lista">
                                <div class="items frameworks">
                                    <div class="elemento">
                                        <img src="img/angular.png">
                                        <p>Angular</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/asp.png">
                                        <p>ASP.Net</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/ionic.png">
                                        <p>Ionic</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/laravel.png">
                                        <p>Laravel</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/bootstrap.png">
                                        <p>Bootstrap</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Lenguajes</h4>
                            <div class="lista">
                                <div class="items lenguajes">
                                    <div class="elemento">
                                        <img src="img/ts.png">
                                        <p>TypeScript</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/js.png">
                                        <p>JavaScript</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/csharp.png">
                                        <p>C#</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/c++.png">
                                        <p>C++</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/java.png">
                                        <p>Java</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/php.png">
                                        <p>PHP</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/vb.png">
                                        <p>VB.Net</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Manejadores de base de datos</h4>
                            <div class="lista">
                                <div class="items bd">
                                    <div class="elemento">
                                        <img src="img/oracle.png">
                                        <p>Oracle</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/mysql.png">
                                        <p>MySQL</p>
                                    </div>
                                    <div class="elemento sql-server">
                                        <img src="img/sqlserver.png">
                                        <p>SQL Server</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/firebase.png">
                                        <p>Firebase</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/mongodb.png">
                                        <p>MongoDB</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mini-seccion">
                            <h4>Otros</h4>
                            <div class="lista">
                                <div class="items otros">
                                    <div class="elemento">
                                        <img src="img/nodejs.png">
                                        <p>Nodejs</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/html.png">
                                        <p>HTML</p>
                                    </div>
                                    <div class="elemento">
                                        <img src="img/css.png">
                                        <p>CSS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contacto" class="seccion">
                    <div class="title">
                        <h2>Datos de contacto</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Celular: </p>
                            <a href="tel:8298195019">8298195019</a>
                        </div>
                        <div>
                            <p class="bold">Correo electronico:</p>
                            <a href="mailTo:anthonyde98@gmail.com">anthonyde98@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div id="idiomas" class="seccion">
                    <div class="title">
                        <h2>Idiomas</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Español</p>
                            <p>Nativo</p>
                        </div>
                        <div>
                            <p class="bold">Ingles</p>
                            <p>Intermedio</p>
                        </div>
                    </div>
                </div>
                <div id="referencias" class="seccion">
                    <div class="title">
                        <h2>Referencias</h2>
                    </div>
                    <div class="seccion-contenido">
                        <div>
                            <p class="bold">Josué Serulle Cabreja</p>
                            <p>849-851-5067</p>
                        </div>
                        <div>
                            <p class="bold">Lic. Antony Peralta</p>
                            <p>809-390-6181</p>
                        </div>
                    </div>
                </div>
                <div id="archivo" class="seccion">
                    <div class="title">
                        <h2>Archivo</h2>
                    </div>
                    <div class="seccion-contenido">
                        <a href="/download" id="btnCV">Descargar CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>btnTop}}
    <script src="js/partials.js"></script>
</body>
</html>