<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="img/suitcase.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="contenedor">
        {{>header}}
        <div class="contenido">
            <div class="bienvenida">
                <p class="saludo">¡Hola! Soy Anthony.</p>
                <p class="posicion">Desarrollador Full Stack</p>
                <div class="descripcion">
                    <p>Bienvenido</p>
                    <p>¿Quiéres ver mi portafolio?</p>
                    <a class="btn" href="/portfolio"><i class="fad fa-th"></i></a>
                </div>
            </div>
        </div>
    </div>
    {{>btnTop}}
    <script src="js/partials.js"></script>
</body>
</html>