<header id="header">
        <div class="menu-top">
                <a class="logo" href="/"><i class="fad fa-infinity"></i> Anthony</a>
                <div class="opciones">
                        <a href="/">Inicio</a>
                        <a href="/portfolio">Portafolio</a>
                        <a href="/about">Sobre mi</a>
                </div>
        </div>
</header>